<!doctype html>
<title>Dog breed detector</title>
<head>
    <meta charset="UTF-8">
    <title>DataRobot AI powered Dog breed detector</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<style>
		* {
		  box-sizing: border-box;
		}

		.row {
		  display: flex;
		}

		/* Create two equal columns that sits next to each other */
		.column {
		  flex: 50%;
		  padding: 10px;
		}
		
		
		.content {
		  max-width: 1080px;
		  margin: auto;
		  padding: 10px;
		}
	</style>
	
</head>

<body>

	<div class="content">
	
	<h2>Choose an image file and then predict the dog breed</h2>
		
	<form method="post" action="/" enctype="multipart/form-data">
	
	
	<div class="row">
		<div class="column" style="background-color:#aaa;">
			<dl>
				<p>
					<input type="file" name = "file" value="Select image" autocomplete="off" required>
				</p>
			</dl>
			<p>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
								<p>{{ message }}</p>
							{% endfor %}
						{% endif %}
				{% endwith %}
			</p>
			{% if filename %}
				<div>
					<img src="{{ url_for('display_image', filename=filename) }}">
				</div>
			{% endif %}
	
		</div>
		<div class="column" style="background-color:#bbb;">
			<p>
				<input type="submit" value="Predict breed">
			</p>
			
				<canvas id="myChart" width="600" height="400"></canvas>
					
				<script>
					var ctx = document.getElementById("myChart").getContext("2d");
					var myChart = new Chart(ctx, {
						type: "bar",
						data: {
							labels: {{ labels | safe}},
							datasets:[
								{
									data: {{ values | safe}},
									fill: false,
									backgroundColor: 'rgb(255, 99, 132)',
									borderColor: 'rgb(255, 99, 132)',
								}
							]
						},
						options: {
							responsive: false,
							indexAxis: 'y',
							plugins: {
								title: {
									display: true,
									text: 'Dog Breed | Confidence'
								},
								legend: {
									display: false
								}
							}
						}
					});
				</script>
			 
		</div>
	</div>

	</form>
	
	</div>
	
	

</body>